@use 'global'
@use 'variables'

.container
    position: relative
    max-width: 340px
    background: variables.$white
    padding: 3rem 1.5rem
    margin-top: 6rem
    border-radius: 1.5rem
    box-shadow: 0px 30px 35px hsl(0%, 0%, 0%, .3)

.box
    display: block
    position: absolute

h1
    position: relative
    text-transform: uppercase
    text-align: center
    font-weight: 700
    font-size: 1.9rem
    margin-top: 5.5rem
    margin-bottom: 1rem

.image
    display: flex
    align-items: center
    justify-content: center

.principal-img
    width: 75%
    position: absolute
    bottom: 85%
    left: 13%
    z-index: 1

.bg-pattern
    width: 75%
    position: absolute
    bottom: 78.4%
    left: 12%

.content
    padding: 1rem 0
    border-bottom: 1px solid variables.$light-grayish-blue

    button
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        gap: 1rem
        border: none
        background: transparent
        color: variables.$dark-grayish-blue
        cursor: pointer

        &:hover
            color: variables.$soft-red
            transition: all .3s ease
    .arrow
        margin-left: 1rem

.answer
    width: 90%
    display: none
    padding-top: .5rem
    padding-right: .3rem
    color: variables.$dark-grayish-blue
    font-size: .7rem
    line-height: 1.5rem

.active
    font-weight: 700

@media (max-width: 960px)
    .box
        display: none

@media (min-width: 960px)
    .container
        max-width: 960px
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 1.6rem
        padding-right: 6.5rem 
        padding-bottom: 5rem
        margin: 2rem
        overflow: hidden

    h1
        margin: 0
        text-align: left
        margin-bottom: 1.5rem

    .images
        position: relative
        width: 150%
        bottom: -65%
        left: -48%

    .box
        width: 19%
        position: absolute
        left: -9%
        bottom: 11.7rem
        z-index: 1

    .principal-img
        z-index: 0

    .bg-pattern
        position: absolute
        bottom: 12rem
        left: -33%
        width: 120%
        


    

    
        

        