@use 'global'
@use 'variables'

.container
    display: grid
    grid-template-columns: 25rem 1fr
    gap: 3rem
    width: 57.5rem
    padding-bottom: 5rem
    padding-top: .5rem
    margin-top: 7rem 
    border-radius: 1.7rem
    background-color: variables.$white
    background-image: url('../images/bg-pattern-desktop.svg')
    background-repeat: no-repeat
    background-position: 1260% 65%
    box-shadow: 0 50px 25px -20px hsl(0, 0%, 0%, .2)

.image-woman
    display: none

.answer
    display: none
    margin-top: .6rem

.active > .answer
    display: block
    color: variables.$dark-grayish-blue
    line-height: 1.2rem

.active img
    transform: rotate(180deg)
    transition: all .4s ease

.active .title
    font-weight: 700
    color: variables.$very-dark-desatureted-blue

.accordion
    display: flex
    flex-direction: column
    margin-top: 2.5rem

.questions
    display: flex
    flex-direction: column
    
.accordion-content
    width: 23.5rem
    padding: 1rem
    color: variables.$dark-grayish-blue
    border-bottom: 1px solid variables.$light-grayish-blue
    
.faq-title
    color: variables.$very-dark-desatureted-blue
    font-size: 2rem
    text-transform: uppercase
    margin-bottom: 2rem

.question
    display: flex
    justify-content: space-between
    font-size: .9rem
    cursor: pointer
    transition: .4s

    &:hover
        color: variables.$soft-red

.question img
    align-self: center

.image-container
    position: relative

.image-content
    position: relative
    top: 10%
    background-image: url('../images/illustration-woman-online-desktop.svg')
    background-repeat: no-repeat
    background-position: 120% center
    height: 100%

.box
    position: relative
    bottom: 51%
    right: 6rem

@media (max-width: 1050px)
    body
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 100vw
        height: 100vh

    .container
        position: relative
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        gap: 0
        width: 21.875rem
        margin-top: 5rem
        padding: 0 .2rem 3.2rem .2rem
        background-image: url('../images/bg-pattern-mobile.svg')
        background-repeat: no-repeat
        background-position: center 0rem

    .image-woman
        display: block
        position: absolute
        width: 70%
        top: -7rem

    .accordion
        padding-top: 5rem

    .accordion-content
        margin-top: 0
        width: 100%
        padding: 0 1rem

        h1
            font-size: 1.9rem
            margin-bottom: 1rem
            margin-top: .6rem

    .questions
        padding: 0rem .5rem
        width: 100%

    .question
        display: flex
        align-items: center
        gap: 2.5rem
        font-size: .8rem
        padding: .8rem 0

    .answer
        margin: -0.3rem 1.3rem 1rem 0

    .faq-title
        text-align: center

    .box
        display: none

    





    
    








    



        


    

    
        

        



        


    

    
        

        